{% extends 'base.html.twig' %}

{% block title 'Hello City !' %}
{% block body %}

    <img src="{{ asset('/images/drapeau-canada.jpg') }}" alt="drapeau-canada" class=" mt-12 rounded shadow-md">

    <h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">Hello from Canada !</h1>

    <p class="text-lg text-gray-800">It's currently {{ 'now'|date('h:i A') }}.</p>

{% endblock %}